body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ca481d, #390aaf);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 25px 40px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    width:400px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(120deg,#5d0ac8,#07ca1e) ;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(120deg,#07ca1e,#5d0ac8);
}

#response {
    margin-top: 20px;
    text-align: center;
}
